{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <form method="post">

                            <h1 class="h3 mb-3 font-weight-normal text-center">Prisijunkite</h1>
                            <label for="inputEmail" class="sr-only">El. paštas</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="El. paštas" required autofocus>
                            <br />

                            <label for="inputPassword" class="sr-only">Slaptažodis</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required>
                            <br />

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="checkbox mb-3 text-center">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Įsiminti mane
                                </label>
                            </div>

                            <button class="btn btn btn-block btn-danger" type="submit">
                                Prisijungti
                            </button>
                        </form>
                    </div>
                </div>

                <a href="{{ path('app_password_recovery') }}">
                    <p class="text-center mt-3">Pamiršote slaptažodį?</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
