{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 text-center">
                {% for message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-2 mb-5">
            <div class="col-12 col-md-8 col-lg-4">

                <div class="card">
                    <h3 class="card-header text-center">Registruotis</h3>
                    <div class="card-body">
                        {{ form_start(form) }}

                            {{ form_label(form.fullname) }}
                            {{ form_widget(form.fullname) }}
                            <span class="validation-error">{{ form_errors(form.fullname) }}</span>
                            <br/>

                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <span class="validation-error">{{ form_errors(form.email) }}</span>
                            <br/>

                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                            <small class="validation-error">{{ form_errors(form.password.first) }}</small>
                            <br/>

                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                            <span class="validation-error">{{ form_errors(form.password.second) }}</span>
                            <br/>

                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber) }}
                            <span class="validation-error">{{ form_errors(form.phoneNumber) }}</span>
                            <br/>

                            <button type="submit" class="btn btn-danger btn-block">Registruotis</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
