{% extends 'base.html.twig' %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="text-center mb-3">Filmų sąrašas</h2>

                <div class="d-flex justify-content-center mb-3">
                    <span class="mr-3">Rušiuoti pagal:</span>
                    <div class="mr-3">{{ knp_pagination_sortable(pagination, 'Kainą', 'r.rentPrice') }}</div>
                    <div>{{ knp_pagination_sortable(pagination, 'Įvertinimą', 'r.usersRating') }}</div>
                </div>

                {% for movie in pagination %}
                    <div class="card movie-card border-secondary mb-5 mx-auto">
                        <a href="{{ path('app_movie', {'id':movie.getId}) }}" class="stretched-link"></a>
                        <div class="card-body">
                            <h3 class="card-title mb-0">{{ movie.getTitle }}</h3>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-auto align-items-center mr-auto">
                                    <i class="fas fa-tag text-muted"></i>
                                    {% for genre in movie.getGenre %}
                                        <span class="ml-1">{{ genre }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-auto align-items-center">
                                    <i class="fas fa-euro-sign text-muted mr-1"></i>
                                    {{ movie.getRentPrice }}
                                </div>
                                <div class="col-auto align-items-center">
                                    <i class="far fa-star text-warning"></i>
                                    {{ movie.getUsersRating }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if pagination.getTotalItemCount > pageLimit %}
                    <div class="d-flex justify-content-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
