{% extends 'base.html.twig' %}

{% block title %}{{ movie.getTitle }}{% endblock %}

{% block body %}

   <div class="container" style="min-height: 800px;">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h2 class="text-center mb-3">{{ movie.getTitle }}</h2>

                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>IMDB vertinimas</th>
                            <th>Žanrai</th>
                            <th>Režisierius</th>
                            <th>Aktoriai</th>
                            <th>Nuomos kaina</th>
                            <th>Vartotojų vertinimas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ movie.getImdb }}</td>
                            <td>
                                {% for genre in movie.getGenre %}
                                    {{ genre }};
                                {% endfor %}
                            </td>
                            <td>{{ movie.getDirector }}</td>
                            <td>
                                {% for actor in movie.getActors %}
                                    {{ actor }};
                                {% endfor %}
                            </td>
                            <td>{{ movie.getRentPrice }}</td>
                            <td>
                                <div class="d-flex flex-column align-items-center">
                                    <div id="usrRating" class="h4 font-weight-normal">{{ movie.getUsersRating }}</div>
                                    <i id="star-1" class="fas fa-star rstar h6">
                                        <i id="star-2" class="fas fa-star rstar">
                                            <i id="star-3" class="fas fa-star rstar">
                                                <i id="star-4" class="fas fa-star rstar">
                                                    <i id="star-5" class="fas fa-star rstar">
                                                    </i>
                                                </i>
                                            </i>
                                        </i>
                                    </i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 mt-5">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>Filmo rezervacija</h5>
                    </div>
                    <div class="card-body">
                        <div id="reservation-message" class="mb-3" style="margin: auto; width: 30%;"></div>

                        <p class="card-title">Pasirinkite datos intervalą</p>

                        <input type="text" name="daterange" class="form-control" style="margin: auto; width: 20%;">

                        <a id="reservation-submit" href="javascript:submitReservation()" class="btn btn-success {{ dateWhenAvailable ? 'disabled' }} mt-3">Rezervuoti</a>
                    </div>
                    {% if dateWhenAvailable %}
                        <div class="card-footer validation-error">
                            {{ dateWhenAvailable }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 my-5 pt-2">
                <h4 class="mb-3">Komentarai ({{ movie.getComments | length }})</h4>
                <form class="mb-3" action="{{ path('app_movie_comment', { 'id': id }) }}" method="POST">
                    <div class="d-flex align-self-stretch">
                        <textarea name="text" class="form-control mr-1"></textarea>
                        <button type="submit" class="btn btn-light text-primary border" title="Komentuoti">
                            <i class="far fa-comment mx-2"></i>
                        </button>
                    </div>
                </form>
                {% import "movie/macro_comments.html.twig" as comments %}
                {{ comments.renderComments(movie.getComments, id) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let reservationStartDate = null;
        let reservationEndDate = null;
        let reservationMessage = document.getElementById('reservation-message');
        let reservationButton = document.getElementById('reservation-submit');

        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end) {
                reservationStartDate = start.format('YYYY-MM-DD');
                reservationEndDate = end.format('YYYY-MM-DD');
            });
        });

        function submitReservation() {
            if (!reservationStartDate && !reservationEndDate) {
                reservationMessage.innerText = 'Privalote pasirinkti datos intervalą!';
                reservationMessage.classList.add('alert');
                reservationMessage.classList.add('alert-danger');
            } else {
                if (confirm('Ar patvirtinate rezervacijos užklausą?')) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('app_reservation_submit') }}",
                        data: {
                            movieId: {{ id }},
                            startDate: reservationStartDate,
                            endDate: reservationEndDate,
                            user: "{{ app.user.getUsername }}",
                        },
                        success: function () {
                            reservationStartDate = null;
                            reservationEndDate = null;
                            reservationMessage.innerText = 'Filmas sėkmingai rezervuotas.';
                            reservationButton.classList.add('disabled');
                            reservationMessage.classList.add('alert');
                            reservationMessage.classList.remove('alert-danger');
                            reservationMessage.classList.add('alert-success');
                        },
                    });
                }
            }
        }

        $('.rstar').on('click', function(e) {
            if (e.currentTarget == e.target) {
                $('.rstar').removeClass('active');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('app_movie_rate', { id: id }) }}",
                    data: {
                        rating: e.target.id.split('-')[1],
                    },
                    success: function (resp) {
                        if (resp.success) {
                            $('#usrRating').text(resp.rating.toFixed(1));

                        }
                    },
                });
            }
            e.currentTarget.classList.add('active');
        });

        $('.js-reply-btn').on('click', function (e) {
            e.preventDefault();
            $(this).parent().next().children().filter('form').toggleClass('d-none');
        });
    </script>
{% endblock %}