{% macro renderComments(comments, id) %}
    {% for comment in comments %}
        <div class="card card-comment mb-2">
            <div class="card-header d-flex">
                {% if comment.user %}
                    <h5 class="m-0 mr-2">{{ comment.user.username }}</h5>
                {% else %}
                    <h5 class="m-0 mr-2">[IŠTRINTAS VARTOTOJAS]</h5>
                {% endif %}
                <span class="text-muted mr-auto">{{ comment.date | date('Y-m-d H:i')  }}</span>
                <a class="text-secondary ml-2 js-reply-btn" href="#">Atsakyti</a>
            </div>
            <div class="card-body">
                <p class="mb-2">{{ comment.content }}</p>
                <form class="d-none mt-3" action="{{ path('app_movie_comment_reply', { 'id': id, 'commentID': comment.id }) }}" method="POST">
                    <div class="d-flex align-self-stretch">
                        <textarea name="text" class="form-control mr-1" rows="1"></textarea>
                        <button type="submit" class="btn btn-light text-primary border" title="Atsakyti">
                            <i class="far fa-comment mx-2"></i>
                        </button>
                    </div>
                </form>
            </div>
            {% if comment.replies | length > 0 %}
                <div class="card-body py-0">
                    {% import _self as comments %}
                    {{ comments.renderComments(comment.replies, id) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}