{% extends 'base.html.twig' %}

{% block title %}Paskyra{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <a href="{{ path('app_profile_reservations') }}">
                    <i class="fas fa-chevron-left"></i> Grįžti į sąrašą
                </a>

                <h2 class="mt-3 mb-3">Rezervacijos informacija</h2>

                Rezervuotas filmas: "{{ reservation.getMovie.getTitle }}"<br/>
                Rezervacijos būsena: {{ reservation.getStatus }}<br/><br/>

                Filmo atsiimti atvykite {{ reservation.getDate | date('Y-m-d') }}.<br/>
                Filmą privalote grąžinti {{ reservation.getDate | date_modify('+' ~ reservation.getDays ~ ' days') | date('Y-m-d') }}.

                {% set currentDate = 'now' | date('Y-m-d') %}
                {% if currentDate < reservation.getDate|date('Y-m-d') and reservation.getStatus == 'laukiama' %}
                    <br/><br/>
                    <a
                            class="btn btn-danger"
                            href="{{ path('app_reservation_cancel', { id: reservation.getId }) }}"
                            onclick="return confirm('Ar tikrai norite atšaukti šią rezervaciją?')"
                    >
                        Atšaukti rezervaciją
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
