{% extends 'base.html.twig' %}

{% block title %}Paskyra{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <a href="{{ path('app_profile_bills') }}">
                    <i class="fas fa-chevron-left"></i> Grįžti į sąrašą
                </a>

                <h2 class="mt-3 mb-3">Sąskaitos informacija</h2>

                Sąskaitos būsena: {{ bill.getStatus }}<br/><br/>

                Sąskaita sudaryta {{ bill.getDate | date('Y-m-d') }}.<br/>
                Mokėtina suma: {{ bill.getAmount }} €.
            </div>
        </div>
    </div>
{% endblock %}
