{% extends 'base.html.twig' %}

{% block title %}Slaptažodžio atstatymas{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 text-center">
                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center font-weight-normal mb-3">Slaptažodžio atstatymas</h3>
                        {{ form_start(form) }}

                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <span class="validation-error">{{ form_errors(form.email) }}</span>
                            <br/>

                            <button type="submit" class="btn btn-danger btn-block">Siųsti</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
