.validation-error {
    color: firebrick;
    font-size: small;
}

ul.pagination {
    margin: auto;
    float: right;
}

ul.pagination a.page-link {
    color: #343a40;
}

ul.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
}

.filter-menu {
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: 15px 0;
    border-radius: 0.35rem;
}

.movie-card {
    max-width: 45rem;
    transition: box-shadow 0.1s ease-out;
}

.movie-card:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.price-input {
    width: 4rem !important;
}

.rstar {
    cursor: pointer;
    color: #999;
    transition: color 0.05s ease-out;
}

.rstar:hover, .rstar.active {
    color: gold;
}
