{% extends 'backOffice/base.html.twig' %}

{% block title %}Filmai
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row mt-5 mb-5">
			<div class="col-12">
				<h3>Pridėti naują filmą</h3>
				<a href="/admin/movies/new" class="btn btn-primary">Naujas Filmas</a>
				<table class="table table-bordered table-responsive">
					<thead class="thead-light">
						<tr>
							<th>Numeris</th>
							<th>Pavadinimas</th>
							<th>IMDB vertinimas</th>
							<th>Žanrai</th>
							<th>Režisierius</th>
							<th>Aktoriai</th>
							<th>Nuomos kaina</th>
							<th>Kiekis</th>
							<th>Vartotojų vertinimas</th>
							<th>Veiksmai</th>
						</tr>
					</thead>
					<tbody>
						{% for movie in pagination %}
							<tr>
								<td>#{{ movie.getId }}</td>
								<td>{{ movie.getTitle }}</td>
								<td>{{ movie.getImdb }}</td>
								<td>
									{% for genre in movie.getGenre %}
										{{ genre }};
									{% endfor %}
								</td>
								<td>{{ movie.getDirector }}</td>
								<td>
									{% for actor in movie.getActors %}
										{{ actor }};
									{% endfor %}
								</td>
								<td>{{ movie.getRentPrice }}</td>
								<td>{{ movie.getAmount }}</td>
								<td>{{ movie.getUsersRating }}</td>
								<td>
									<a class="btn btn-danger js-delete-btn" title="Ištrinti" href="{{ path('admin_movie_delete', { 'id': movie.id }) }}">
										<i class="fas fa-trash"></i>
									</a>
									<a href="{{ path('edit_movie', { 'id': movie.id }) }}" class="btn btn-light">Keisti</a>
									<a href="{{ path('admin_movie_reset', { 'id': movie.id }) }}" class="btn btn-info">Anuliuoti</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					{% if pagination.getTotalItemCount > pageLimit %}
						<tfooter>
							<tr>
								<td colspan="9">
									<div class="pagination-menu">
										{{ knp_pagination_render(pagination) }}
									</div>
								</td>
							</tr>
						</tfooter>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		$('.js-delete-btn').on('click', function (e) {
let username = $(this).parent().siblings('td')[1].innerHTML;
return confirm('Ar tikrai norite ištrinti filmą ' + username + '?');
});
	</script>

{% endblock %}
