{% extends 'backOffice/base.html.twig' %}

{% block title %}Naujas Filmas{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-sm-6 offset-sm-3 mt-3">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
