{% extends 'backOffice/base.html.twig' %}

{% block title %}Surastas filmas{% endblock %}

{% block body %}
	<div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-10">
                <h2 class="text-center mb-3">{{ movie.getTitle }}</h2>

                <table class="table table-bordered table-responsive">
                    <thead class="thead-light">
                    <tr>
                        <th>IMDB vertinimas</th>
                        <th>Žanrai</th>
                        <th>Režisierius</th>
                        <th>Aktoriai</th>
                        <th>Nuomos kaina</th>
                        <th>Vartotojų vertinimas</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ movie.getImdb }}</td>
                            <td>
                                {% for genre in movie.getGenre %}
                                    {{ genre }};
                                {% endfor %}
                            </td>
                            <td>{{ movie.getDirector }}</td>
                            <td>
                                {% for actor in movie.getActors %}
                                    {{ actor }};
                                {% endfor %}
                            </td>
                            <td>{{ movie.getRentPrice }}</td>
                            <td>{{ movie.getUsersRating }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
