Sveiki,<br/><br/>

dėkojame, jog pasirinkote mūsų paslaugas. Jūsų registracija mūsų tinklalapyje buvo sėkminga.<br/>
Liko tik vienas žingsnins - patvirtinti savo paskyrą. Tai padaryti galite paspaudę šią nuorodą:<br/>
<a href="{{ generatedUrl }}">{{ generatedUrl }}</a>.