Sveiki {{ fullName }},<br/><br/>

Jūs atlikote filmo "{{ movieTitle }}" rezervaciją mūsų filmų nuomos punkte.<br/>
Pasiimti filmo kopijos atvykite į mūsų ofisą {{ date | date('Y-m-d') }}.<br/><br/>

Jums paruošta {{ billAmount }} eurų sąskaita, kurią turėsite apmokėti atsiimdami filmą.