Sveiki {{ fullName }},<br/><br/>

Jūs pateikėte slaptažodžio atstatymo užklausą.<br/>
Norėdami pasikeiti slaptažodį, sekite nuorodą (nuorodos galiojimo trukmė: 1 diena).<br/><br/>

<a href="{{ generatedUrl }}">{{ generatedUrl }}</a>
