{% extends 'base.html.twig' %}

{% block title %}Paskyra{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-8">
                <h2 class="text-center mb-3">Profilio redagavimas</h2>
                {{ form_start(form) }}

                    {{ form_label(form.fullname) }}
                    {{ form_widget(form.fullname) }}
                    <span class="validation-error">{{ form_errors(form.fullname) }}</span>
                    <br/>

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <span class="validation-error">{{ form_errors(form.email) }}</span>
                    <br/>

                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}
                    <span class="validation-error">{{ form_errors(form.phoneNumber) }}</span>
                    <br/>

                    <div class="text-center">
                        <button type="submit" class="btn btn-danger">Atnaujinti</button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
