{% extends 'base.html.twig' %}

{% block title %}Paskyra{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h2 class="text-center mb-3">Rezervacijos</h2>

                {% for message in app.session.flashBag.get('reservation-not-found') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.session.flashBag.get('cancel-success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="filter-menu">
                    <form method="get" class="form-inline d-flex justify-content-center">
                        <input class="form-control mr-4" type="text" name="movie" placeholder="Filmas" value="{{ movie }}"/>

                        <select class="form-control mr-4" name="status">
                            <option value="">Būsena</option>
                            <option {{ status == 'laukiama' ? 'selected' }} value="laukiama">Laukiama</option>
                            <option {{ status == 'paimta' ? 'selected' }} value="paimta">Paimta</option>
                            <option {{ status == 'grąžinta' ? 'selected' }} value="grąžinta">Grąžinta</option>
                            <option {{ status == 'atšaukta' ? 'selected' }} value="atšaukta">Atšaukta</option>
                        </select>

                        <input
                            placeholder="Atsiėmimo data nuo"
                            class="form-control mr-4"
                            type="text"
                            name="date-from"
                            onfocus="this.type='date'"
                            onblur="this.type='text'"
                            style="width: 220px;"
                            {% if dateFrom %} value="{{ dateFrom | date('Y-m-d') }}" {% endif %}
                        />

                        <input
                            placeholder="Atsiėmimo data iki"
                            class="form-control mr-4"
                            type="text"
                            name="date-to"
                            onfocus="this.type='date'"
                            onblur="this.type='text'"
                            style="width: 220px;"
                            {% if dateTo %} value="{{ dateTo | date('Y-m-d') }}" {% endif %}
                        />

                        <button class="btn btn-dark ml-1" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <p class="mt-3">Rasta rezultatų: {{ pagination.getTotalItemCount }}</p>

                {% if pagination.getTotalItemCount > 0 %}
                    <table class="table table-bordered mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th>Numeris</th>
                                <th>Filmai</th>
                                <th>Data nuo - iki</th>
                                <th>Rezervacijos būsena</th>
                                <th>Sąskaitos būsena</th>
                                <th>Veiksmai</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in pagination %}
                                <tr>
                                    <td>#{{ reservation.getId }}</td>
                                    <td>{{ reservation.getMovie.getTitle }}</td>
                                    <td>
                                        {{ reservation.getDate|date('Y-m-d') }}
                                        -
                                        {{ reservation.getDate | date_modify('+' ~ reservation.getDays ~ ' days') | date('Y-m-d') }}
                                    </td>
                                    <td>{{ reservation.getStatus }}</td>
                                    <td>{{ reservation.getBill.getStatus }}</td>
                                    <td class="text-center">
                                        {% set currentDate = 'now' | date('Y-m-d') %}
                                        {% if currentDate < reservation.getDate|date('Y-m-d') and reservation.getStatus == 'laukiama' %}
                                            <a
                                                class="btn btn-danger"
                                                href="{{ path('app_reservation_cancel', { id: reservation.getId }) }}"
                                                title="Atšaukti rezervaciją"
                                                onclick="return confirm('Ar tikrai norite atšaukti šią rezervaciją?')"
                                            >
                                                    <i class="fas fa-calendar-times"></i>
                                            </a>
                                        {% endif %}
                                        <a
                                            class="btn btn-dark"
                                            href="{{ path('app_reservation_show', { id: reservation.getId }) }}"
                                            title="Peržiūrėti"
                                        >
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% if pagination.getTotalItemCount > pageLimit %}
                        <tfooter>
                            <tr>
                                <td colspan="6">{{ knp_pagination_render(pagination) }}</td>
                            </tr>
                        </tfooter>
                        {% endif %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
