<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- Date Range Picker -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <title>{% block title %}{% endblock %} | Filmų nuoma</title>

        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sveiki, {{ app.user.getUsername }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_profile') }}">
                                <i class="fas fa-user-circle"></i>&nbsp
                                Paskyra
                            </a>
                            {% if is_granted('ROLE_USER') %}
                                <a class="dropdown-item" href="{{ path('app_profile_reservations') }}">
                                    <i class="fas fa-calendar-alt"></i>&nbsp
                                    Rezervacijos
                                </a>
                                <a class="dropdown-item" href="{{ path('app_profile_bills') }}">
                                    <i class="fas fa-sticky-note"></i>&nbsp
                                    Sąskaitos
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_admin') }}">
                                    <i class="fas fa-solar-panel"></i>&nbsp
                                    Administravimas
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            Atsijungti
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Prisijungti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Registruotis</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Filmų nuoma</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-n5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'app_home' ? 'active' }}">
                        <a class="nav-link" href="{{ path('app_home') }}">Pagrindinis</a>
                    </li>
                </ul>
                {% if app.user %}
                    <form class="form-inline my-2 my-lg-0" autocomplete="off" action="/" method="GET">
                        <div class="input-group mb-2 mb-sm-0 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Kaina</div>
                            </div>
                            <input type="text" class="form-control price-input" name="min-price" value="{{ app.request.get('min-price') }}"
                                placeholder="Min">
                            <input type="text" class="form-control price-input" name="max-price" value="{{ app.request.get('max-price') }}"
                                placeholder="Max">
                        </div>
                        <select class="custom-select mb-2 mb-sm-0 mr-sm-2" name="genre">
                            <option {{ app.request.get('genre') ? '' : 'selected' }} value="">Žanras</option>
                            <option {{ app.request.get('genre') == 'Comedy' ? 'selected' }} value="Comedy">Comedy</option>
                            <option {{ app.request.get('genre') == 'Drama' ? 'selected' }} value="Drama">Drama</option>
                            <option {{ app.request.get('genre') == 'Action' ? 'selected' }} value="Action">Action</option>
                        </select>
                        <input class="form-control mb-2 mb-sm-0 mr-sm-2" type="search" name="search" value="{{ app.request.get('search') }}"
                            placeholder="Filmo pavadinimas" aria-label="Search">
                        <button class="btn btn-outline-light mt-2 mt-sm-0" type="submit">Ieškoti</button>
                    </form>
                {% endif %}
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Date Range Picker -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
