{% extends 'backOffice/base.html.twig' %}

{% block title %}Sąskaitos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h2 class="text-center mb-3">Sąskaitos</h2>

                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Numeris</th>
                        <th>Klientas</th>
                        <th>Sudarymo data</th>
                        <th>Sąskaitos būsena</th>
                        <th>Suma</th>
                        <th>Veiksmai</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bill in pagination %}
                        <tr>
                            <td>#{{ bill.getId }}</td>
                            <td>{{ bill.getClient.getUser.getFullname }}</td>
                            <td>{{ bill.getDate|date('Y-m-d') }}</td>
                            <td>{{ bill.getStatus }}</td>
                            <td>{{ bill.getAmount }}</td>
                            <td class="text-center">
                                {% if bill.getStatus == 'neapmokėta' %}
                                    <a
                                        href="{{ path('admin_bill_status', { id: bill.getId }) }}"
                                        class="btn btn-success"
                                        title="Pažymėti kaip apmokėtą"
                                        onclick="return confirm('Ar tikrai norite patvirtinti šią sąskaitą?')"
                                    >
                                            <i class="fas fa-check"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if pagination.getTotalItemCount > pageLimit %}
                        <tfooter>
                            <tr>
                                <td colspan="6">
                                    <div class="pagination-menu">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </td>
                            </tr>
                        </tfooter>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
