{% extends 'backOffice/base.html.twig' %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2>Administravimo puslapis</h2>
            </div>
        </div>
    </div>
{% endblock %}
