{% extends 'backOffice/base.html.twig' %}

{% block title %}Rezervacijos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h2 class="text-center mb-3">Rezervacijos</h2>

                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Numeris</th>
                        <th>Klientas</th>
                        <th>Filmai</th>
                        <th>Data nuo - iki</th>
                        <th>Rezervacijos būsena</th>
                        <th>Sąskaitos būsena</th>
                        <th>Veiksmai</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in pagination %}
                        <tr>
                            <td>#{{ reservation.getId }}</td>
                            <td>{{ reservation.getClient.getUser.getFullname }}</td>
                            <td>{{ reservation.getMovie.getTitle }}</td>
                            <td>
                                {{ reservation.getDate|date('Y-m-d') }}
                                -
                                {{ reservation.getDate | date_modify('+' ~ reservation.getDays ~ ' days') | date('Y-m-d') }}
                            </td>
                            <td>{{ reservation.getStatus }}</td>
                            <td>{{ reservation.getBill.getStatus }}</td>
                            <td class="text-center">
                                {% set currentDate = 'now' | date('Y-m-d') %}
                                {% if currentDate < reservation.getDate|date('Y-m-d') and reservation.getStatus == 'laukiama' %}
                                    <a
                                            class="btn btn-danger"
                                            href="{{ path('admin_reservation_cancel', { id: reservation.getId }) }}"
                                            title="Atšaukti rezervaciją"
                                            onclick="return confirm('Ar tikrai norite atšaukti šią rezervaciją?')"
                                    >
                                        <i class="fas fa-calendar-times"></i>
                                    </a>
                                {% endif %}
                                {% if reservation.getStatus == 'laukiama' %}
                                    <a
                                            class="btn btn-info"
                                            href="{{ path('admin_reservation_status', { id: reservation.getId }) }}"
                                            title="Pažymėti kaip paimtą"
                                            onclick="return confirm('Ar tikrai norite pakeisti rezervacijos statusą?')"
                                    >
                                        <i class="fas fa-clipboard-check"></i>
                                    </a>
                                {% elseif reservation.getStatus == 'paimta' %}
                                    <a
                                            class="btn btn-success"
                                            href="{{ path('admin_reservation_status', { id: reservation.getId }) }}"
                                            title="Pažymėti kaip grąžintą"
                                            onclick="return confirm('Ar tikrai norite pakeisti rezervacijos statusą?')"
                                    >
                                        <i class="fas fa-check"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if pagination.getTotalItemCount > pageLimit %}
                        <tfooter>
                            <tr>
                                <td colspan="7">{{ knp_pagination_render(pagination) }}</td>
                            </tr>
                        </tfooter>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
