{% extends 'backOffice/base.html.twig' %}

{% block title %}Vartotojai{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h2 class="text-center mb-3">Vartotojai</h2>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Numeris</th>
                        <th>El. paštas</th>
                        <th>Rolės</th>
                        <th>Invaliduotas</th>
                        <th>Apribojimai</th>
                        <th>Vardas</th>
                        <th>Tel. nr.</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td>#{{ user.getId }}</td>
                            <td>{{ user.getEmail }}</td>
                            <td>
                                {% for role in user.getRoles %}
                                    {{ role }};
                                {% endfor %}
                            </td>
                            <td>{{ user.getDisabled ? 'Taip' : 'Ne' }}</td>
                            <td>
                                <input type="number" name="restrictions" value="{{ user.getRestrictions }}"
                                    onkeyup="changeRestrictions(this, '{{ user.getId }}')"
                                    class="form-control" style="width:5rem;">
                            </td>
                            <td>{{ user.getFullname }}</td>
                            <td>{{ user.getPhoneNumber }}</td>
                            <td class="text-center">
                                <a class="btn btn-danger js-delete-btn" title="Ištrinti"
                                    href="{{ path('admin_user_delete', { 'id': user.id }) }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                {% if attribute(user.getAccount, 'isAdmin') is defined %}
                                    <a class="btn btn-{{ user.getAccount.isAdmin ? 'warning' : 'info' }} text-white js-admin-btn"
                                        title="{{ user.getAccount.isAdmin ? 'Panaikinti' : 'Suteikti' }} administratoriaus teises"
                                        href="{{ path('admin_user_toggle_admin', { 'id': user.id }) }}">
                                        <i class="fas fa-user-cog"></i>
                                    </a>
                                {% else %}
                                    <a class="btn text-white"><i class="fas fa-user-cog"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if pagination.getTotalItemCount > pageLimit %}
                        <tfooter>
                            <tr>
                                <td colspan="9">
                                    <div class="pagination-menu">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </td>
                            </tr>
                        </tfooter>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.js-delete-btn').on('click', function (e) {
            let username = $(this).parent().siblings('td')[5].innerHTML;
            return confirm('Ar tikrai norite ištrinti vartotoją ' + username + '?');
        });
        $('.js-admin-btn').on('click', function (e) {
            return confirm('Ar tikrai norite pakeisti teises?');
        });
        function changeRestrictions(e, id) {
            if(event.key === 'Enter') {
                if (confirm('Ar norite nustatyti apribojimus')) {
                    window.location.href = 'user/change/' + id + '/restrictions/' + e.value;
                }
            }
        }
    </script>

{% endblock %}